@charset "UTF-8";
.table_wrapper{
	/* background-color: pink; */
}
table{
	margin: auto;
}
.terms{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	margin-top: 20px;
}
.button {
    width:100px;
    background-color: #4380ce;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    margin-top: 30px;

}
textarea{
	border: 1px solid #ececec;
	color: #404040;
}
body{
	font-family: 'Noto Sans KR';
}
/*footer 영역*/
footer{
	padding-top: 50px;
}
.footerContents {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.footerTopBox .pvLink {
    padding-top: 10px;
    font-size : 14px;
    width: 65%;
    margin:auto;
}
.footerTopBox ul.pvLink {
    overflow: hidden;
    padding-bottom: 10px;
}
.footerTopBox .pvLink li:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 10px;
    width: 2px;
    height: 17px;
    background-color: #d3d3d3;
}
.footerTopBox:after {
    content: "";
    display: block;
    clear: both;
}
.footerTopBox .pvLink li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.footerBottomBox .copyright {
	margin:auto;
	width: 60%;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}
/*상단 검색 영역*/
.menuSearch input {
    position: relative;
    top: -2px;
    padding: 0 15px;
    margin-left: 50px;
    background: #ebebeb;
    border-radius: 30px !important;
    border: none !important;
    height: 34px;
    width: 240px;
}
.btn_search {
    right: 20px;
    width: 28px;
    height: 30px;
    margin-top: -15px;
    padding-left: 15px;
    background-image: url("/img/btn_search.png") no-repeat center;
}


