@charset "UTF-8";
/* Login */
.loginForm{position:relative;width:460px;margin:0 auto;height:100%;padding-bottom:50px;}
.loginForm.agreeForm{width:768px;}
.loginForm .goMain{position:absolute;top:7px;left:0;}
.loginForm .goMain img{vertical-align:top}
/* .loginForm form{width:460px;margin:0 auto} */
.loginForm .langSelect{margin:60px 0 35px;text-align:right}
.loginForm .langSelect select{width:95px;height:30px;border:1px solid #ccc}
.loginForm .langSelect > a{display:inline-block;height:28px;padding:0 5px;background-color:#fff;border:1px solid #ccc;line-height:30px;color:#1a4079;font-weight:600;vertical-align:top}
.loginForm .logo{float:none;text-align:center}
.loginForm .inputFields{margin:50px 0 15px;border-bottom:1px solid #e4e4e5}
.loginForm .inputFields .inputId input{width:100%;height:49px;border:1px solid #dadada;text-indent:13px}
.loginForm .inputFields .inputPw{margin:14px 0 22px}
.loginForm .inputFields .inputPw input{width:100%;height:49px;border:1px solid #dadada;text-indent:13px}
.noLoginAlert{position:relative;margin-bottom:20px;padding:10px 10px 10px 40px;border:1px solid #f11515;color:#f11515;background-color:#fff}
.noLoginAlert img{position:absolute;top:10px;left:10px}
.noLoginAlert .noLogin{margin-top:5px}
.noLoginAlert .noLogin a{color:#f11515;text-decoration:underline}
.loginForm .inputFields .inputSubmit input{width:100%;padding:15px 0;background:none;border:none;background-color:#4380ce;color:#fff;font-size:24px;cursor:pointer}
.loginForm .inputFields .saveId{margin:15px 0 37px}
.loginForm .inputFields .saveId label{color:#4f4f4f;font-size:15px}
.loginForm .loginMenu{text-align:center}
.loginForm .loginMenu a{margin-left:15px;color:#838383;font-size:14px}
.loginForm .loginMenu a:first-child{margin-left:0}
.loginForm .loginBg{width:460px;height:169px;margin:50px 0 36px;background:url(../../../image/ko/local/home/loginBg.jpg) no-repeat 0 0}
/* .loginForm .loginFooter{padding-top:20px;border-top:1px solid #e2e2e2}
.loginForm .loginFooter .menu{margin:18px 0 25px}
.loginForm .loginFooter .menu a{margin-left:10px;color:#595959;font-size:13px}
.loginForm .loginFooter .menu a.privacy{margin-left:0;color:#b8222d} */
/* .loginForm .loginFooter .address{color:#686868;font-size:12px}
.loginForm .loginFooter .address p{margin-bottom:3px} */
body{
	font-family: 'Noto Sans KR';
}

@media screen and (min-width:0) and (max-width:767px){
	.loginForm{width:300px}
	.loginForm.agreeForm{width:300px;}
	.loginForm .loginBg{width:300px}
}
.loginForm .agreeBtn {
	text-align: center;
}
/*footer 영역*/
footer{
	padding-top: 50px;
}
.footerContents {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.footerTopBox .pvLink {
    padding-top: 10px;
    font-size : 14px;
    width: 65%;
    margin:auto;
}
.footerTopBox ul.pvLink {
    overflow: hidden;
    padding-bottom: 10px;
}
.footerTopBox .pvLink li:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 10px;
    width: 2px;
    height: 17px;
    background-color: #d3d3d3;
}
.footerTopBox:after {
    content: "";
    display: block;
    clear: both;
}
.footerTopBox .pvLink li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.footerBottomBox .copyright {
	margin:auto;
	width: 60%;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}
/*상단 검색 영역*/
.menuSearch input {
    position: relative;
    top: -2px;
    padding: 0 15px;
    margin-left: 50px;
    background: #ebebeb;
    border-radius: 30px !important;
    border: none !important;
    height: 34px;
    width: 240px;
}
.btn_search {
    right: 20px;
    width: 28px;
    height: 30px;
    margin-top: -15px;
    padding-left: 15px;
    background-image: url("/img/btn_search.png") no-repeat center;
}