@charset "UTF-8";
.wrap{
	width: 100%;
	height:100%;
	/* background-color: powderblue; */
	padding-bottom:100px;
}
.table_wrap{
	width: 60%;
	margin: auto;
	/* background-color: pink; */
}
.boardText{
	margin: auto;
	width: 60%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	margin-top: 20px;
 	/* background-color: yellow; */
}
div.button{
   width: 80%;
}
div.button input{
   padding: 5px;
   width: 100%;
   font-size: 18px;
   float: right;
}
.fields{
	margin:auto;
	width: 60%;
	/* background-color: coral; */
}
#keyword{
	width:200px;height:35px;border: solid 1px #999;color: #666;font-size: 15px;
}
.type{
	height:35px;width: 90px;border: solid 1px #999;color: #666;font-size: 15px;
}
.btn{
	/* margin-top: 20px; */
	text-align: center;
    line-height: 26px;
    border: none 0;
    color: #fff;
    width: 80px;
    font-size: 15px;
    background: #476fad;
    border-radius: 0;
}
/*검색버튼*/
.btn_reg{
    float: right;
}
.btn:hover{
	background: #476fad;
}
.pagination{
	margin:auto;
	width:100%;
	margin-bottom: 20px;
}
/*footer 영역*/
footer{
	padding-top: 50px;
	width:100%;
	height:250px;
    position:absolute;
    bottom:0;
}
.footerContents {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.footerTopBox .pvLink {
    padding-top: 10px;
    font-size : 14px;
    width: 65%;
    margin:auto;
}
.footerTopBox ul.pvLink {
    overflow: hidden;
    padding-bottom: 10px;
}
.footerTopBox .pvLink li:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 10px;
    width: 2px;
    height: 17px;
    background-color: #d3d3d3;
}
.footerTopBox:after {
    content: "";
    display: block;
    clear: both;
}
.footerTopBox .pvLink li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.footerBottomBox .copyright {
	margin:auto;
	width: 60%;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}
ul{
	justify-content: center;
}