@charset "UTF-8";
.write_wrap{
	width: 100%;
	/* background-color: pink;  */
	margin: auto;
}
.form_wrap{
	margin: auto;
	width: 70%;
	/* background-color: yellow;  */
}
.write{
	margin: auto;
	width: 50%;
	/* background: black; */
}
.writeText{
	margin: auto;
	width: 60%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 50px;
 	/* background-color: yellow;  */
}
.form-control{
	border-radius: 0;
}
div.button{
   margin: auto;
   width: 168px;
}
div.button input{
   padding: 5px;
   width: 100%;
   font-size: 18px;
}
.btn{
	margin-top: 20px;
	text-align: center;
    line-height: 26px;
    border: none 0;
    color: #fff;
    width: 80px;
    font-size: 15px;
    background: #476fad;
    border-radius: 0;
    float: right;
}
/*footer 영역*/
footer{
	padding-top: 50px;
}
.footerContents {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.footerTopBox .pvLink {
    padding-top: 10px;
    font-size : 14px;
    width: 65%;
    margin:auto;
}
.footerTopBox ul.pvLink {
    overflow: hidden;
    padding-bottom: 10px;
}
.footerTopBox .pvLink li:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 10px;
    width: 2px;
    height: 17px;
    background-color: #d3d3d3;
}
.footerTopBox:after {
    content: "";
    display: block;
    clear: both;
}
.footerTopBox .pvLink li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.footerBottomBox .copyright {
	margin:auto;
	width: 60%;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}
/*상단 검색 영역*/
.menuSearch input {
    position: relative;
    top: -2px;
    padding: 0 15px;
    margin-left: 50px;
    background: #ebebeb;
    border-radius: 30px !important;
    border: none !important;
    height: 34px;
    width: 240px;
}
.btn_search {
    right: 20px;
    width: 28px;
    height: 30px;
    margin-top: -15px;
    padding-left: 15px;
    background-image: url("/img/btn_search.png") no-repeat center;
}