@charset "UTF-8";
.writeText{
	margin: auto;
	width: 60%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 50px;
 	/* background-color: yellow;  */
}
div.button{
   margin: auto;
   width: 180px;
}
a{
	text-decoration: none;
}
button:hover{
	color: #476fad;
}
.btn{
	text-align: center;
    line-height: 26px;
    border: none 0;
    color: #fff;
    width: 85px;
    font-size: 15px;
    background: #476fad;
    border-radius: 0;
}
tbody{border-style: none;}
li {font-size:15px;color:#383838;line-height:21px;background:url('../images/bg/bgBar02.png') no-repeat left 12px;padding-left:10px;margin-bottom:10px;list-style: none;}
.prod_wrap{width: 100%;height: 100%;/* background-color: pink; */}
.detail-book{margin: auto;width: 60%;/* background-color: powderblue; */}
.detail-book .full {display:none}
.detail-book .button a {display:inline-block;width:100px;height:28px;border:1px solid #878787;border-top:0 none;line-height:28px;color:#4d4d4d;text-align:center}
.detail-book .button .close {display:none}
.detail-book .button span {display:inline-block}
.detail-book .bookintroLink{color:#a3a3a3; margin-top: 20px;}
.detail-book .bookintroLink a{color:#a3a3a3;}
.detail-book {
  padding-bottom: 20px;
  /* border-bottom:1px solid #323232; */
  margin-bottom: 0px;
}
.detail-book .left {
  display: inline-block;
  width: 270px;
  text-align: center;
}
.detail-book .left img {
  width: 160px;
  height: 240px;
  border:1px solid #646464;
}
.detail-book .left span {
  position: relative;
}
.detail-book .left span::after {
  content:'';
  display: block;
  width: 58px;
  height: 98px;  
  position: absolute;
  bottom:0;
  right:-58px;
  background:url('../../../../../image/ko/local/ext/detail/shadow.png') no-repeat center;
}
.detail-book .left p {
  width: 170px; 
  color:#3367d4;
  font-size:14px;
  text-align: left;
  margin:0 auto;
  margin-top: 8px;
}
.detail-book #divDetailInfo a {
  width: 80px;
  height: 30px;
  color:#fff;
  font-size:12px;
  margin:0 auto;
  padding-left: 18px;
  line-height: 30px;
}
.detail-book #divDetailInfo a.btn-detail {
  background:url('../../../../../image/ko/local/ext/detail/icon_detail.png') no-repeat 6px #FF7272;
}
.detail-book #divDetailInfo a.btn-prev {
  background:url('../../../../../image/ko/local/ext/detail/icon_preview.png') no-repeat 6px #558bcf;
}

.detail-book .right {
  display: inline-block;
  width:calc(100% - 325px);
  vertical-align: top;
  margin-left: 50px;
}

.detail-book .right .title {
  color:#323232;
  font-size:24px;
  font-weight: 500;
}
.profileHeader{
	border-bottom: 1px solid #B6B6B6;
}
.profileHeader h3 {
	color:#323232;
	font-size:24px;
	font-weight: 500;
}

.detail-book .right small {
  font-size:16px;
  color:#323232;
  display: block;
  margin-bottom: 40px;
}
.profileHeader p {
	font-size:16px;
	color:#323232;
	display: block;
	margin-bottom: 16px;
}
.detail-book .right dt,.detail-book .right dd {
  display: inline-block;
  line-height: 2;
}
.detail-book table {
  width: 100%;
}
.detail-book table td {
  display: inline-block;
  padding: 4px 0;
}

.detail-book .right dt {
  width: 115px;
  color:#323232;
  font-weight: 500;
  font-size:14px;
}
.detail-book table th {
  text-align: left;
  width: 115px;
  color:#323232;
  font-weight: bold;
  font-size:14px;
  vertical-align: top;
  padding-top: 4px;
}

.detail-book .right dd {
  color:#323232;
  font-size:14px;
  width:calc(100% - 120px);
  vertical-align: top;
  word-break: break-all;
}

.detail-book table td {
  color:#323232;
  font-size:14px;
  width:calc(100% - 120px);
  vertical-align: top;
  word-break: break-all;
}

.searchInfo .searchContents {
    padding-top: 10px;
}
.bookData li div {
	position: relative;
    display: inline-block;
    /*width: 167px;*/	
}
.searchInfo {
    position: relative;
    padding-bottom: 40px;
}
.collect-txt {
  margin-top: 20px;
}
.collect-txt dl::after {
  content:'';
  display: block;
  clear: both;
}
.collect-txt dl {
  margin-bottom: 20px;
}
.collect-txt dt,.collect-txt dd {
  float: left;
  vertical-align: top;
  font-size:14px;
  line-height: 1.8;
}
.collect-txt dt {
  width: 150px;
  color:#FF7272;
  background:url('../../../../../image/ko/local/ext/detail/one.png') no-repeat left center;
  padding-left: 15px;
}
.collect-txt dd {
  color:#5a5a5a;
  width:calc(100% - 160px);
}
.collect-txt em {
  border-bottom:1px solid #558bcf;
  color:#558bcf;
  font-weight: 500;
}
.collect-txt a {
  padding-right: 25px;
  color:#FF7272;
  font-weight: 500;
  background:url('../../../../../image/ko/local/ext/detail/move.png') no-repeat right top;
}
.collect-txt dl:nth-last-of-type(3) a {
  border-bottom:1px solid #FF7272;
  font-weight: 400;
}

.collect-info .plus {
  height: 40px;
  line-height: 40px;
  font-size:16px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 2px solid #B6B6B6;
  font-size:24px;
  font-family: 'Noto Sans KR';
}
.collect-info .plus.on {
  margin-top: 40px;
}
.collect-info .info {
  color:#FF7272;
  font-size:14px;
  padding-left: 20px;
  margin-top: 8px;
}

/*footer 영역*/
footer{
	padding-top: 50px;
}
.footerContents {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.footerTopBox .pvLink {
    padding-top: 10px;
    font-size : 14px;
    width: 65%;
    margin:auto;
}
.footerTopBox ul.pvLink {
    overflow: hidden;
    padding-bottom: 10px;
}
.footerTopBox .pvLink li:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 10px;
    width: 2px;
    height: 17px;
    background-color: #d3d3d3;
}
.footerTopBox:after {
    content: "";
    display: block;
    clear: both;
}
.footerTopBox .pvLink li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.footerBottomBox .copyright {
	margin:auto;
	width: 60%;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}
/*상단 검색 영역*/
.menuSearch input {
    position: relative;
    top: -2px;
    padding: 0 15px;
    margin-left: 50px;
    background: #ebebeb;
    border-radius: 30px !important;
    border: none !important;
    height: 34px;
    width: 240px;
}
.btn_search {
    right: 20px;
    width: 28px;
    height: 30px;
    margin-top: -15px;
    padding-left: 15px;
    background-image: url("/img/btn_search.png") no-repeat center;
}